@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main-cont{
    height: 100%;
    width: 100%;
    position: absolute;
}

#particles-js{
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 0;
}

ul{
    display: flex;
    height: 65px;
    background-color: rgb(219, 185, 185);
    align-items: center;
}

li img{
    height: 55px;
    width: 55px;
    margin: 5px;
}
li{
    list-style-type: none;
    padding: 8px;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.nav-li{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin: 5px;
}
#App-name{
    font-size: 1.3rem;
    text-decoration: none;
    padding-left: 0px;
    color: rgb(95, 18, 95);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chotu-container{
    height: 62vh;
    width: 150vh;
    background: url(Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.main-container p{
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    padding: 10px;
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.6s ease;
}

@keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 70vw 40px;
    }
}

.song-list{
    height: 330px;
    width: 390px;
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 13px;
}

.songs{
    height: 45px;
    width: 300px;
    text-align: center;
    line-height: 43px;
    margin-left: 22px;
    color: white;
    border: 1.5px solid white;
    background-color: black;
    margin: 8px;
    border-radius: 15px;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

span img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1.5px solid black;
    margin-top: 9px;
}

.duration{
    border: 1px solid white;
    background-color: purple;
    color: white;
    height: 45px;
    width: 60px;
    border-radius: 15px;
    margin-top: 8px;
    line-height: 2.9;
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    text-align: center;
}


.temp{
    display: flex;
}

.footer{
    display: flex;
    align-items: center;
    height: 75px;
    flex-direction: column;
    background-color: rgb(219, 185, 185);
    margin-top: 13px;
}

input[type=range]{
    width: 80%;
    height: 7px;
    margin-top: 10px;
    accent-color: #83580b;
}

input:hover{
    cursor: pointer;
}

.footer-main{
    display: flex;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    align-items: center; 
    justify-content: center; 
    position: relative;
}

.current-song{
    height: 40px;
    width: 290px;
    text-align: center;
    line-height: 40px;
    margin-left: -309px;
    color: white;
    border: 1.5px solid white;
    background-color: black;
    border-radius: 15px;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;

}

.icons i{
    cursor: pointer;
}

.music-dur{
    border: 1px solid black;
    position: absolute;
    right: 140px;
    padding: 3px;
}

.start{
    left: 140px;
    border: 1px solid black;
    position: absolute;
    padding: 3px;
}